@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,600;0,700;1,300;1,400;1,500&family=Monoton&display=swap');
/* body{
    height:1000px;
} */


/* .nav-link{
    padding: 30px;
} */
/* #q1{
    text-align: center;
    word-spacing: 10px;
} */
body{
    font-family: 'Fira Sans', sans-serif;
}
.bg-black{background-color: black;}

.home-slider h1{font-size: 48px;line-height: auto;}
.home-slider .btn-outline-light{font-size: 28px;}
.about-section p{font-size: 16px;line-height: 28px;}
.custom-font-h3{font-size: 40px;}
.hh:hover{
    box-shadow:0px 0px 0px 0px #c5c0c0 ;
    margin-top: 10px;
    border: 1px rgb(119, 5, 5) solid;

}
  .card-img-top{
    height:110px ;
  }
  /* nav:hover{
    background-color: rgb(219, 44, 44);
} */
.navbar .navbar-nav .nav-link {
    color: rgb(247, 242, 242);
    font-size: 1em;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #faf4f4;
  }
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #e42222;
    width: 0%;
    content: "";
    height: 3px;
    transition: all 0.5s;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
  }

  .contact-section{background-image: url(./images/contact1.jpg);background-size: cover;background-repeat: no-repeat;}
  .contact-box .form-control{height: 50px;margin-bottom: 40px;}
  .address-box p{font-size: 16px;line-height: 2.5;}
  @media(max-width:991px){
    #Ellieslider .carousel-caption h1{
        font-size: 36px;
    }
  }